<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>THP gossips!</h1>
    <p>Cliques ici pour créer un nouveau gossip:</p>
    <a href="/gossips/new/">LÀ!!!</a>
  </body>
</html>